.places {
    max-width: 984px;
}

@media all and (max-width: 1024px){
    .places {
        max-width: 928px;
    }
}

@media all and (max-width: 768px){
    .places {
        max-width: 720px;
    }
}

@media all and (max-width: 426px){
    .places {
        max-width: 100%;
    }
}