.root__cover {
    margin-top: 92px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

@media all and (max-width: 768px){
    .root__cover{
        margin-top: 90px;
    }
}

@media all and (max-width: 320px){
    .root__cover{
        margin-top: 66px;
    }
}