.lead__title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #ffffff;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

@media all and (max-width: 720px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    
    }
}


@media all and (max-width: 426px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    
    }
}