.place__paragraph {
    margin-top: 0;
    margin-bottom: 26px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;

}