.lead__image {
  /*позиционирование*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  margin-bottom: 0;
  
  /*размер изображения*/
  max-width: 984px;
  max-height: 615px;
  
  object-fit: contain;
  display: block;
    
}

@media all and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
    max-width: 928px;
  }
}

@media all and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
    width: 100%;
  }
}



@media all and (max-width: 426px) {
  .lead__image {
    margin-top: 40px;
  }
}