.intro {
    max-width: 984px;
}

@media all and (max-width: 1024px){
    .intro {
        max-width: 928px;
    }
}

@media all and (max-width: 768px){
    .intro {
        max-width: 720px;
    }
}


@media all and (max-width: 426px){
    .intro {
        max-width: 288px;
    }
}