.cover {
    max-width: 1184px;
    min-height: 740px;
    
    background-image: url('../../images/cover.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

@media all and (max-width: 1024px){
    .cover{
        width: 100%;
        min-height: 640px;
    }
}

@media all and (max-width: 768px){
    .cover{
        min-height: 480px;
    }
}

@media all and (max-width: 320px){
    .cover{
        min-height: 200px;
    }
}