.root__photo-grid {
    margin-top: 92px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

@media all and (max-width: 768px){
    .root__photo-grid {
        margin-top: 88px;
    }
}

@media all and (max-width: 426px){
    .root__photo-grid {
        margin-top: 64px;
    }
}