.places__place {
    margin-top: 80px;
}

@media all and (max-width: 768px){
    .places__place {
        margin-top: 73px;
    }
}

@media all and (max-width: 426px){
    .places__place {
        margin-top: 50px;
    }
}