.lead__caption {
    margin-left: 0;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #ffffff;

}