.footer {
    display: flex;
    max-width: 1184px;
    justify-content: space-between;

}

@media all and (max-width: 1024px){
    .footer {
        max-width: 928px;
       
    }
}

@media all and (max-width: 768px){
    .footer {
        max-width: 720px;
       
    }
}

@media all and (max-width: 320px){
    .footer {
        max-width: 186px;
        flex-direction: column;
       
    }
}