.intro__title {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left:0;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    /* font-weight: 900; */
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}


@media all and (max-width: 426px){
    .intro__title {
       
        font-size: 32px;
        line-height: 35px;
    }
}